/* Main Styles */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article {
    text-align: center;
    max-width: 275px;
    padding-top: 3%;
  }

  /* Titles */

  .box {
      height: 20px;
      width: 150px;
      margin: auto;
  }

  .box1 {
      background-color: #33A8DD;
  }

  .box2 {
    background-color: #F46731;
}

.box3 {
    background-color: #2BCDC0;
}

  /* Media Queries */

  @media (max-width: 500px) {
    .article {
        max-height: 165px;
    }
}

@media (min-width: 700px) {
    main {
        flex-direction: row;
        margin: auto;
        /* position: absolute; */
    }

    .article {
        margin: 0 20px;
    }
}
