/* Adds a red border to an element */

.boxy {
  border: solid 5px red;
}

/* Main styles */

body {
  margin: auto;
  height: 100%;
  font-family: raleway;
  background-color: rgb(238, 234, 236);
}

header {
  height: 100%;
  min-height: 300px;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33a8dd;
  color: white;
}

main {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: #33a8dd;
  }

/* Nav Bar */

.navbar {
  opacity: 0.5;
  background-color: rgb(238, 234, 236);
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

nav a {
  text-decoration: none;
  padding: 10px;
}

/* Media queries */

@media (max-width: 500px) {
  header {
    padding: 5%;
  }
}

@media (min-width: 700px) {
  body {
    background-color: #1b1b1b;
  }

  header {
    background-color: #2bcdc0;
  }

  main,
  a {
    color: white;
  }

  a:hover {
    color: #2bcdc0;
  }

  .navbar {
    opacity: 0.5;
    background-color: #1b1b1b;
  }

  nav a {
    text-decoration: none;
    color: white;
  }
}
